# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
s = set(range(1, 11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
s.add(11)
print(s)
s.remove(1)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [6]:
s1 = set(range(1, 6))
s2 = set(range(2, 11, 2))
print(f"Union: {s1 | s2}")
print(f"Intersection: {s1 & s2}")
print(f"Difference: {s1 - s2}")
print(f"Symmetric Difference: {s1 ^ s2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference: {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [7]:
squares = {x ** 2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [11]:
evens = {num for num in s if num % 2 == 0}

print(evens)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [16]:
s_dupe = (1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4)
unique = set(s_dupe)
print(unique)

{1, 2, 3, 4}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [17]:
s1 = set(range(1, 6 ))
s2 = set(range(1, 4))
print(f"Is S2 subset of S1: {s2.issubset(s1)}")
print(f"Is S1 superset of s2: {s1.issuperset(s2)}")

Is S2 subset of S1: True
Is S1 superset of s2: True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [18]:
frozen_s = frozenset(range(1, 6))
print(frozen_s)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [20]:
s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [21]:
d = {
    frozenset({1, 2}): 3,
    frozenset({4, 5}): 7,
    frozenset({6, 7}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({4, 5}): 7, frozenset({6, 7}): 11}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [22]:
s = set(range(1, 11))
for x in s:
    print(x)

1
2
3
4
5
6
7
8
9
10